<h1 class="govuk-heading-l">
  <%= data.mobile.navigation.mobile.name %>
</h1>

<p class="govuk-body">
  <%= data.mobile.navigation.mobile.desc %>
</p>

<div class="govuk-grid-row govuk-!-margin-bottom-7">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">
      <%= data.mobile.navigation.general.name %>
    </h2>

    <p class="govuk-body">
      <%= data.mobile.navigation.general.desc %>
    </p>

    <p class="govuk-body">
      <a href="<%= data.mobile.navigation.general.link %>" class="govuk-link">
        <%= data.mobile.navigation.general.link_title %>
      </a>
    </p>
  </div>

  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">
      <%= data.mobile.navigation.android.name %>
    </h2>

    <p class="govuk-body">
      <%= data.mobile.navigation.android.desc %>
    </p>

    <p class="govuk-body">
      <a href="<%= data.mobile.navigation.android.link %>" class="govuk-link">
        <%= data.mobile.navigation.android.link_title %>
      </a>
    </p>
  </div>

  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">
      <%= data.mobile.navigation.ios.name %>
    </h2>

    <p class="govuk-body">
      <%= data.mobile.navigation.ios.desc %>
    </p>

    <p class="govuk-body">
      <a href="<%= data.mobile.navigation.ios.link %>" class="govuk-link">
        <%= data.mobile.navigation.ios.link_title %>
      </a>
    </p>
  </div>
</div>
