<h1 class="govuk-heading-l">
  <%= data.analytics.navigation.analytics.name %>
</h1>

<p class="govuk-body">
  <%= data.analytics.navigation.analytics.desc %>
</p>

<h2 class="govuk-heading-l">
  <%= data.analytics.navigation.data.name %>
</h2>

<p class="govuk-body">
  <%= data.analytics.navigation.data.desc %>
</p>

<p class="govuk-body">
  <a href="<%= data.analytics.navigation.data.link %>" class="govuk-link">
    <%= data.analytics.navigation.data.link_title %>
  </a>
</p>

<h2 class="govuk-heading-l">
  <%= data.analytics.navigation.docs.name %>
</h2>

<p class="govuk-body">
  <%= data.analytics.navigation.docs.desc %>
</p>

<p class="govuk-body">
  <a href="<%= data.analytics.navigation.docs.link %>" class="govuk-link">
    <%= data.analytics.navigation.docs.link_title %>
  </a>
</p>
