<% content_for :title, create_page_title(data.analytics.navigation.events.name) %>

<h1 class="govuk-heading-l">
  <%= data.analytics.navigation.events.name %>
</h1>

<p class="govuk-body">
  <%= data.analytics.navigation.events.desc %>
</p>

<%= GovukPublishingComponents.render("govuk_publishing_components/components/tabs", {
  panel_border: false,
  as_links: true,
  tabs: [
    {
      href: "events.html",
      label: "By event name",
      active: true
    },
    {
      href: "events_by_group.html",
      label: "By group",
    }
  ]
}) %>

<form role="search" data-module="filter-list" class="filter-form">
  <%= GovukPublishingComponents.render("govuk_publishing_components/components/input", {
    label: {
      text: "Filter events"
    },
    name: "filter-box",
    type: "search",
    search_icon: true,
    spellcheck: true
  }) %>
</form>

<% events = events_by_type.sort_by { |key| key }.to_h %>
<% events.each do |key, value| %>
  <div data-filter-section>
    <h2 data-filter-title class="govuk-heading-s"><%= key %></h2>
    <ul class="govuk-list govuk-list--bullet">
      <% value[:events].each do |e| %>
        <li data-filter-item>
          <% anchor_link = "#heading-#{e[:index]}" %>
          <a href="event_<%= urlize(e[:name]) %>.html<%= anchor_link %>" class="govuk-link"><%= e[:event_name] %></a> (<%= e[:name] %>)
          <span class="hidden"><%= key %></span>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
