<% content_for :title, create_page_title(data.analytics.navigation.progress.name) %>

<h1 class="govuk-heading-l">
  <%= data.analytics.navigation.progress.name %>
</h1>

<p class="govuk-body">
  <%= data.analytics.navigation.progress.desc %>
</p>

<% all_events = [] %>
<% data.analytics.events.each do |event| %>
  <% all_events += event.events %>
<% end %>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Priority
    </dt>
    <dd class="govuk-summary-list__key">
      Implemented
    </dd>
  </div>

  <% tag_colours.keys.each do |priority| %>
    <% events = all_events.select { |x| x["priority"] == priority } %>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <strong class="govuk-tag <%= tag_colours[priority] %>">
          <%= priority.capitalize %>
        </strong>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= implementation_percentage(events) %>
      </dd>
    </div>
  <% end %>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Overall progress
    </dt>
    <dd class="govuk-summary-list__key">
      <%= implementation_percentage(all_events) %>
    </dd>
  </div>
</dl>
