<% content_for :sidebar do %>
  <ul>
    <% Applications.all.reject(&:private_repo?).each do |app| %>
    <li>
      <%= sidebar_link app.app_name, "/apps/#{app.app_name}.html" %>
      <% if pages = GitHubRepoFetcher.instance.docs(app.github_repo_name) %>
        <ul>
          <% pages.each do |page| %>
            <li><%= sidebar_link page[:title], page[:path] %></li>
          <% end %>
        </ul>
      <% end %>
    </li>
    <% end %>
  </ul>
<% end %>

<% wrap_layout :core do %>
  <%= partial 'partials/last_updated' %>
  <%= partial 'partials/header' %>
  <%= yield %>
<% end %>
