<% content_for :sidebar do %>
  <ul>
    <li><%= sidebar_link 'Search API', '/apis/search-api.html' %></li>
    <li>
      <%= sidebar_link 'Publishing API', '/apis/publishing-api.html' %>
      <ul>
        <% publishing_api_pages.each do |page| %>
          <li><%= sidebar_link page.title, "/apis/publishing-api/#{page.filename}.html" %></li>
        <% end %>
      </ul>
    </li>
    <li><%= link_to 'Content Store', '/apis/content-store.html' %></li>
    <li><%= link_to 'Link Checker API', '/apis/link-checker-api.html' %></li>
  </ul>
<% end %>

<% wrap_layout :layout_with_sidebar do %>
  <%= partial 'partials/header' %>
  <%= yield %>
<% end %>
