<% content_for :sidebar do %>
  <ul>
  <% app_pages.group_by(&:type).each do |name, apps| %>
    <li><%= link_to name, '/apps.html' %></li>

    <ul>
    <% apps.each do |app| %>
      <li><%= link_to app.title, "/apps/#{app.app_name}.html" %></li>
    <% end %>
    </ul>
  <% end %>
  </ul>
<% end %>

<% wrap_layout :layout_with_sidebar do %>
  <%= partial 'partials/header' %>
  <% if locals.key?(:page) %>
    <%= partial 'partials/source', page: page %>
  <% end %>

  <%= yield %>

  <% if locals.key?(:page) %>
    <%= partial 'partials/source', page: page %>
  <% end %>
<% end %>
