<% content_for :sidebar do %>
  <ul>
    <li>
      <a href="/apps/by-team.html">
        <span>Repository ownership by team</span>
      </a>
    </li>

    <% Repos.public.group_by(&:type).each do |name, apps| %>
      <li>
        <a href="/apps.html">
          <span><%= name %></span>
        </a>
      </li>
      <li>
        <ul class='subnav'>
        <% apps.each do |app| %>
          <li><%= sidebar_link app.repo_name, "/repos/#{app.repo_name}.html" %></li>
        <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>

<% wrap_layout :core do %>
  <% app_slug = current_page.path.match(/repos\/([^\/]+)\//) %>
  <%= GovukPublishingComponents.render("govuk_publishing_components/components/breadcrumbs", {
    breadcrumbs: [
      { title: "Home", url: "/" },
      current_page.path != "apps.html" ? { title: "Apps", url: "/apps.html" } : nil,
      app_slug ? { title: app_slug[1], url: "/repos/#{app_slug[1]}.html" } : nil,
    ].compact,
  }) %>
  <%= partial 'partials/last_updated' if current_page.data.show_last_updated %>
  <%= partial 'partials/header' %>
  <%= yield %>
<% end %>
