<!DOCTYPE html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="viewport" content="width=device-width">

    <title>
      <%= locals.key?(:page_title) ? page_title : current_page.data.title %> - GOV.UK Developer Documentation
    </title>

    <link rel="stylesheet" href="/assets/css/stolen-from-docs.css">
    <link rel="stylesheet" href="/assets/css/govuk-docs.css">
    <script src="/assets/js/application.js"></script>
  </head>
  <body>
    <div class="app-pane">
      <div class="app-pane__header">
        <a href="#content" class="skip-link">Skip to main content</a>

        <header class="header header--full-width">
          <div class="header__container">
            <div class="header__brand">
              <a href="/">
                <span class="govuk-logo">
                  <img class="govuk-logo__printable-crown" src="/assets/images/gov.uk_logotype_crown_invert_trans.png" height="32" width="36">
                  GOV.UK
                </span>
                <span class="header__title">
                  Developer docs <span class="phase-banner">Alpha</span>
                </span>
              </a>
            </div>

            <input class="header__navigation-toggle-checkbox" type="checkbox" id="show-menu" />
            <label class="header__navigation-toggle" for="show-menu">
              Menu
            </label>

            <nav id="navigation" class="header__navigation">
              <ul>
                <% sitemap.resources.select { |p| p.data.navigation_weight }.sort_by { |p| p.data.navigation_weight }.each do |page| %>
                  <li class="<%= active_page?(page.path) ? "active" : "" %>">
                    <a href="<%= page.url %>">
                      <%= page.data.title %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </nav>
          </div>
        </header>
      </div>

      <div class="app-pane__body">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
