<% wrap_layout :header_footer_only do %>
  <div id="toc-heading" class="toc-show fixedsticky">
    <a href="#toc" class="toc-show__label js-toc-show" aria-controls="toc">
      Table of contents <span class="toc-show__icon"></span>
    </a>
  </div>

  <div class="app-pane__body">
    <div class="app-pane__toc">
      <div class="toc" data-module="table-of-contents">
        <%= partial "partials/search" %>
        <a href="#" class="toc__close js-toc-close" aria-controls="toc" aria-label="Hide table of contents"></a>
        <nav id="toc" class="js-toc-list toc__list" aria-labelledby="toc-heading">
          <%= yield_content :sidebar %>
        </nav>
      </div>
    </div>

    <div class="app-pane__content toc-open-disabled">
      <main id="content" class="technical-documentation" data-module="anchored-headings">
        <%= yield %>
        <%# Copy-pasted from the gem because we're overriding this layout %>
        <ul class="contribution-banner">
          <li><%= link_to "View source", source_urls.view_source_url %></li>
          <li><%= link_to "Report problem", source_urls.report_issue_url %></li>
          <li><%= link_to "GitHub Repo", source_urls.repo_url %></li>
        </ul>
      </main>
    </div>
  </div>
<% end %>
