<% wrap_layout :header_footer_only do %>
  <div id="toc-heading" class="toc-show fixedsticky">
    <a href="#toc" class="toc-show__label js-toc-show" aria-controls="toc">
      Table of contents <span class="toc-show__icon"></span>
    </a>
  </div>

  <div class="app-pane__body">
    <div class="app-pane__toc">
      <%= partial "partials/search" %>

      <div class="toc" data-module="table-of-contents">
        <a href="#" class="toc__close js-toc-close" aria-controls="toc" aria-label="Hide table of contents"></a>
        <nav id="toc" class="js-toc-list toc__list" aria-labelledby="toc-heading">
          <%= yield_content :sidebar %>
        </nav>
      </div>
    </div>

    <div class="app-pane__content toc-open-disabled">
      <main id="content" class="technical-documentation" data-module="anchored-headings">
        <% if current_page.data.review_by && Date.today > current_page.data.review_by  %>
          <div class='warning'>
            This page was set to be reviewed before <%= current_page.data.review_by %>
            by the page owner: <%= current_page.data.owner_slack %>. This might mean the
            content is out of date. <%= link_to "Read how to review a page", "/manual/review-page.html" %>
          </div>
        <% end %>

        <%= yield %>
        <%= partial 'partials/source' %>
      </main>
    </div>
  </div>
<% end %>
