<% html = "<h1 id='header'>#{current_page.data.title}</h1>#{yield}" %>

<% content_for :page_description, Snippet.generate(html) %>

<% content_for :sidebar do %>
  <a href='/manual.html'>&lsaquo; Manual</a>
  <%= single_page_table_of_contents html, max_level: 3 %>
<% end %>

<% wrap_layout :layout_with_sidebar do %>
  <% if current_page.data.section == "Icinga alerts" %>
    <div class="information-callout">
      This page describes what to do in case of an
      <a href='https://docs.publishing.service.gov.uk/manual/tools.html#icinga'>Icinga alert</a>.
      For more information you could
      <a href='https://github.com/alphagov/govuk-puppet/search?utf8=%E2%9C%93&q=<%= File.basename(current_page.path, ".*") %>'>
        search the govuk-puppet repo for the source of the alert
      </a>
    </div>
  <% end %>

  <% if page_review.expired? %>
    <%= partial 'partials/page_expired' %>
  <% end %>

  <%= html %>

  <div class='related-content grid-row'>
    <% if current_page.data.related_applications %>
      <h4>Related applications</h4>

      <ul>
      <% current_page.data.related_applications.to_a.each do |app_name| %>
        <li><%= link_to app_name, "/apps/#{app_name}.html" %></li>
      <% end %>
      </ul>
    <% end %>

    <h3>More in the <%= current_page.data.section %> section</h3>

    <div class='column-half'>
      <h4>Learn</h4>

      <ul>
      <% manual.other_pages_from_section(current_page).select { |page| page.data.type == "learn" }.each do |page| %>
        <li><%= link_to page.data.title, page.url %></li>
      <% end %>
      </ul>
    </div>

    <div class='column-half'>
      <h4>How to...</h4>

      <ul>
      <% manual.other_pages_from_section(current_page).select { |page| page.data.type.nil? }.each do |page| %>
        <li><%= link_to page.data.title, page.url %></li>
      <% end %>
      </ul>
    </div>
  </div>

  <% if page_review.reviewable? %>
    <% if page_review.expired? %>
      <%= partial 'partials/page_expired' %>
    <% else %>
      <div class='information-callout'>
        This page was <%= link_to "last reviewed", "/manual/review-page.html" %>

        <time data-module="datetime-relative" datetime="<%= page_review.last_reviewed_on %>">
          on <%= page_review.last_reviewed_on %>
        </time>.

        It needs to be reviewed again
        <time data-module="datetime-relative" datetime="<%= page_review.review_by %>">
          on <%= page_review.review_by %>
        </time>
        by the page owner <%= link_to page_review.owner_slack, page_review.owner_slack_url  %>.
      </div>
    <% end %>
  <% end %>
<% end %>
