<% content_for :head do %>
  <%= partial 'partials/cookie_wrapper' %>
<% end %>

<% content_for :sidebar do %>
  <ul>
    <li>
      <a href="/repos/<%= repo.repo_name %>.html" rel="noopener" class="govuk-link"><%= repo.repo_name %></a>
    </li>
    <li>
      <ul>
        <%= partial("partials/repo/sidebar", locals: { items: RepoSidebar.new(repo.repo_name).items }) unless repo.private_repo? %>
      </ul>
    </li>
  </ul>
<% end %>

<% wrap_layout :core do %>
  <% repo_slug = current_page.path.match(/repos\/([^\/]+)\//) %>
  <%= GovukPublishingComponents.render("govuk_publishing_components/components/breadcrumbs", {
    breadcrumbs: [
      { title: "Home", url: "/" },
      repo.is_app? ? { title: "Apps", url: "/apps.html" } : { title: "Repos", url: "/repos.html" },
      repo_slug ? { title: repo_slug[1], url: "/repos/#{repo_slug[1]}.html" } : nil,
    ].compact,
  }) %>
  <%= partial 'partials/last_updated' if current_page.data.show_last_updated %>
  <%= partial 'partials/header' %>
  <%= yield %>
  <%= partial("partials/in_page_navigation") %>
<% end %>
