<% content_for :sidebar do %>
  <ul>
    <li>
      <%= sidebar_link 'Content schemas', '/content-schemas.html' %>
      <ul>
        <% GovukSchemas::Schema.schema_names.sort.each do |schema_name| %>
          <li>
            <%= sidebar_link schema_name, "/content-schemas/#{schema_name}.html" %>
            <% if current_page.path.include?("content-schemas/#{schema_name}.html") %>
              <ul>
                <li><%= link_to 'Frontend schema', '#frontend-schema' %>
                <li><%= link_to 'Publisher content schema', '#publisher-content-schema' %>
                <li><%= link_to 'Publisher links schema', '#publisher-links-schema' %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
<% end %>

<% wrap_layout :core do %>
  <%= partial 'partials/header' %>

  <%= yield %>

  <style media="screen">
    .technical-documentation pre {
      max-height: 400px;
    }
  </style>
<% end %>
