---
layout: application_layout
parent: /apps.html
source_url: https://github.com/alphagov/govuk-developer-docs/blob/master/data/applications.yml
---

<%= application.description %>

<% if application.retired? %>

This application is retired.

<ul>
  <li><%= link_to "GitHub repo", application.repo_url %></li>
</ul>

<% else %>

<% unless application.topics.nil? %>
GitHub topics: <%= application.topics.map { |topic| link_to(topic, "https://github.com/search?q=topic:#{topic}+org:alphagov") }.to_sentence %>
<% end %>

<% if application.team %>

### Ownership

Owned by team **<%= application.team %>**.
<% end %>

<% if application.dependencies_team %>

### Dependencies Team

The team responsible for updating dependencies is **<%= application.dependencies_team %>**.
<% end %>

### Hosting

<% if application.hosting_name == "None" %>
There is no production version of this application yet.
<% else %>
The production version of this application is hosted on **<%= application.hosting_name %>**.
<% end %>

### Links

<ul>
  <li><%= link_to "GitHub repo", application.repo_url %></li>

  <% if application.sentry_url %>
    <li><%= link_to "Sentry (error tracking)", application.sentry_url %></li>
  <% end %>

  <% if application.management_url %>
    <li><%= link_to "Manage application", application.management_url %></li>
  <% end %>

  <% if application.puppet_url %>
    <li><%= link_to "Puppet configuration", application.puppet_url %></li>
  <% end %>

  <% if application.deploy_url %>
    <li><%= link_to "Deploy scripts", application.deploy_url %></li>
  <% end %>

  <% if application.dashboard_url %>
    <li><%= link_to "Deployment dashboard", application.dashboard_url %></li>
  <% end %>

  <% if application.publishing_e2e_tests_url %>
    <li><%= link_to "Publishing E2E scenarios", application.publishing_e2e_tests_url %> (warning: not all apps have E2E tests)</li>
  <% end %>

  <% if application.api_docs_url %>
    <li><%= link_to "API docs", application.api_docs_url %></li>
  <% end %>

  <% if application.component_guide_url %>
    <li><%= link_to "Component guide", application.component_guide_url %></li>
  <% end %>

  <% if application.metrics_dashboard_url %>
    <li><%= link_to "Metrics dashboard", application.metrics_dashboard_url %></li>
  <% end %>

  <% if application.production_url %>
    <li><%= link_to application.production_url.gsub('https://', ''), application.production_url %></li>
  <% end %>
</ul>

<% case application.production_hosted_on %>
<% when  "carrenza" %>

### SSH Access (Carrenza & AWS)

This application lives on `<%= application.carrenza_machine %>` machines in Carrenza.

To SSH to one of these machines:

```
ssh -A -t jumpbox.staging.publishing.service.gov.uk 'ssh `govuk_node_list -c <%= application.carrenza_machine %> --single-node`'
ssh -A -t jumpbox.publishing.service.gov.uk 'ssh `govuk_node_list -c <%= application.carrenza_machine %> --single-node`'
```

This application lives on `<%= application.aws_puppet_class %>` machines on the integration environment in AWS.

To SSH to one of these machines [via the jumpbox](/manual/howto-ssh-to-machines-in-aws.html), use this command:

```
ssh -A -t jumpbox.integration.publishing.service.gov.uk 'ssh `govuk_node_list -c <%= application.aws_puppet_class %> --single-node`'
```
<% when  "aws" %>
### SSH Access (AWS)

```
ssh -A -t jumpbox.integration.publishing.service.gov.uk 'ssh `govuk_node_list -c <%= application.aws_puppet_class %> --single-node`'
ssh -A -t jumpbox.staging.govuk.digital 'ssh `govuk_node_list -c <%= application.aws_puppet_class %> --single-node`'
ssh -A -t jumpbox.production.govuk.digital 'ssh `govuk_node_list -c <%= application.aws_puppet_class %> --single-node`'
```
<% end %>

<% if application.can_run_rake_tasks_in_jenkins? %>
  <h3>Run a rake task</h3>

  <% case application.production_hosted_on %>
  <% when "aws" %>
  - <%= link_to "Run on Integration Jenkins", "https://deploy.blue.integration.govuk.digital/job/run-rake-task/parambuild/?TARGET_APPLICATION=#{application.app_name}&MACHINE_CLASS=#{application.machine_class}" %>
  - <%= link_to "Run on Staging Jenkins", "https://deploy.blue.staging.govuk.digital/job/run-rake-task/parambuild/?TARGET_APPLICATION=#{application.app_name}&MACHINE_CLASS=#{application.machine_class}" %>
  - <%= link_to "Run on Production Jenkins", "https://deploy.blue.production.govuk.digital/job/run-rake-task/parambuild/?TARGET_APPLICATION=#{application.app_name}&MACHINE_CLASS=#{application.machine_class}" %>
  <% when "carrenza" %>
  - <%= link_to "Run on Integration Jenkins", "https://deploy.integration.publishing.service.gov.uk/job/run-rake-task/parambuild/?TARGET_APPLICATION=#{application.app_name}&MACHINE_CLASS=#{application.machine_class}" %>
  - <%= link_to "Run on Staging Jenkins", "https://deploy.staging.publishing.service.gov.uk/job/run-rake-task/parambuild/?TARGET_APPLICATION=#{application.app_name}&MACHINE_CLASS=#{application.machine_class}" %>
  - <%= link_to "Run on Production Jenkins", "https://deploy.publishing.service.gov.uk/job/run-rake-task/parambuild/?TARGET_APPLICATION=#{application.app_name}&MACHINE_CLASS=#{application.machine_class}" %>
  <% end %>
<%end %>

<% if application.example_published_pages %>
<h3>Example pages published by <%= application.app_name %></h3>

<ul>
<% absolute_path = Regexp.new('^([a-z]+://|//)') %>
<% application.example_published_pages.each do |example| %>
  <% if absolute_path.match(example['link']) %>
    <li><%= link_to example['title'], "#{example['link']}" %></li>
  <% else %>
    <li><%= link_to example['title'], "https://www.gov.uk#{example['link']}" %></li>
  <% end %>
<% end %>
</ul>
<% end %>

<% if manual.pages_for_application(application.app_name).any? %>
<h3>Relevant manual pages</h3>

<ul>
<% manual.pages_for_application(application.app_name).each do |page| %>
  <li><%= link_to page.data.title, page.url %></li>
<% end %>
</ul>
<% end %>

<% if application.example_rendered_pages %>
<h3>Example pages rendered by <%= application.app_name %></h3>

<ul>
<% application.example_rendered_pages.each do |example| %>
  <li><%= link_to example['title'], "https://www.gov.uk#{example['link']}" %></li>
<% end %>
</ul>
<% end %>

<% end %>

[app-yaml]: https://github.com/alphagov/govuk-developer-docs/edit/master/data/applications.yml
