---
layout: application_layout
parent: /apps.html
source_url: https://github.com/alphagov/govuk-developer-docs/blob/master/data/applications.yml
---

<%= application.description %>

<% if application.retired? %>

This application is retired.

<ul>
  <li><%= link_to "GitHub repo", application.repo_url %></li>
</ul>

<% else %>

<% if application.team || application.dependencies_team %>
## Ownership

<% if application.team == application.dependencies_team %>
**<%= application.team %>** owns the application and is responsible for updating its dependencies.
<% elsif application.team && application.dependencies_team %>
**<%= application.team %>** owns the application, but **<%= application.dependencies_team %>** is responsible for updating its dependencies.
<% elsif application.team %>
**<%= application.team %>** owns the application.
<% elsif application.dependencies_team %>
**<%= application.dependencies_team %>** is responsible for updating its dependencies.
<% else %>
Nobody owns this application.
<% end %>
<% end %>

## Hosting

<% if application.hosting_name == "None" %>
There is no production version of this application yet.
<% else %>
The production version of this application is hosted on **<%= application.hosting_name %>**.
<% end %>

<% case application.production_hosted_on %>
<% when  "carrenza" %>
### SSH Access (Carrenza & AWS)

This application lives on `<%= application.carrenza_machine %>` machines in Carrenza.

```bash
gds govuk connect ssh -e staging carrenza/<%= application.carrenza_machine %>
gds govuk connect ssh -e production carrenza/<%= application.carrenza_machine %>
```

This application lives on `<%= application.aws_puppet_class %>` machines on the integration environment in AWS.

```bash
gds govuk connect ssh -e integration <%= application.aws_puppet_class %>
```

<% when  "aws" %>
### SSH Access (AWS)

```bash
gds govuk connect ssh -e integration <%= application.aws_puppet_class %>
gds govuk connect ssh -e staging aws/<%= application.aws_puppet_class %>
gds govuk connect ssh -e production aws/<%= application.aws_puppet_class %>
```
<% end %>

<% if application.can_run_rake_tasks_in_jenkins? %>
## Run a rake task

<%= RunRakeTask.links(application) %>
<% end %>

<h2>Links</h2><!--FIXME - markdown not working-->
<ul>
  <li><%= link_to "GitHub repo", application.repo_url %></li>

  <% if application.sentry_url %>
    <li><%= link_to "Sentry (error tracking)", application.sentry_url %></li>
  <% end %>

  <% if application.management_url %>
    <li><%= link_to "Manage application", application.management_url %></li>
  <% end %>

  <% if application.puppet_url %>
    <li><%= link_to "Puppet configuration", application.puppet_url %></li>
  <% end %>

  <% if application.deploy_url %>
    <li><%= link_to "Deploy scripts", application.deploy_url %></li>
  <% end %>

  <% if application.dashboard_url %>
    <li><%= link_to "Deployment dashboard", application.dashboard_url %></li>
  <% end %>

  <% if application.publishing_e2e_tests_url %>
    <li><%= link_to "Publishing E2E scenarios", application.publishing_e2e_tests_url %> (warning: not all apps have E2E tests)</li>
  <% end %>

  <% if application.api_docs_url %>
    <li><%= link_to "API docs", application.api_docs_url %></li>
  <% end %>

  <% if application.component_guide_url %>
    <li><%= link_to "Component guide", application.component_guide_url %></li>
  <% end %>

  <% if application.metrics_dashboard_url %>
    <li><%= link_to "Metrics dashboard", application.metrics_dashboard_url %></li>
  <% end %>

  <% if application.production_url %>
    <li><%= link_to application.production_url.gsub('https://', ''), application.production_url %></li>
  <% end %>
</ul>

<% if manual.pages_for_application(application.app_name).any? %>
### Relevant manual pages

<ul>
<% manual.pages_for_application(application.app_name).each do |page| %>
  <li><%= link_to page.data.title, page.url %></li>
<% end %>
</ul>
<% end %>

<% if application.example_published_pages %>
## Example pages published by <%= application.app_name %>

<ul>
<% absolute_path = Regexp.new('^([a-z]+://|//)') %>
<% application.example_published_pages.each do |example| %>
  <% if absolute_path.match(example['link']) %>
    <li><%= link_to example['title'], "#{example['link']}" %></li>
  <% else %>
    <li><%= link_to example['title'], "https://www.gov.uk#{example['link']}" %></li>
  <% end %>
<% end %>
</ul>
<% end %>

<% if application.example_rendered_pages %>
## Example pages rendered by <%= application.app_name %>

<ul>
<% application.example_rendered_pages.each do |example| %>
  <li><%= link_to example['title'], "https://www.gov.uk#{example['link']}" %></li>
<% end %>
</ul>
<% end %>

## README

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    The content below is pulled in directly from the repository.<br />
    Links might not function properly.
  </strong>
</div>

<div class="embedded-readme">
  <%= ExternalDoc.parse(application.readme) %>
</div>

<% end %>

[app-yaml]: https://github.com/alphagov/govuk-developer-docs/edit/master/data/applications.yml
