---
layout: application_layout
parent: /apps.html
source_url: https://github.com/alphagov/govuk-developer-docs/blob/master/data/applications.yml
---

<% if application.retired? %>
  This application is retired.

  <%= ExternalDoc.parse(application.description) %>

  <a href="<%= application.repo_url %>">GitHub repository</a>
<% else %>

<%= ExternalDoc.parse(application.description) %>

<%= GovukPublishingComponents.render(
  "govuk_publishing_components/components/summary_list",
  items: [
    {
      field: "GitHub",
      value: sanitize("<a href='#{application.repo_url}'>#{application.github_repo_name}</a>"),
    },
    {
      field: "Ownership",
      value: sanitize(partial("partials/application/ownership").strip),
    },
    {
      field: "Hosting",
      value: sanitize(partial("partials/application/hosting").strip),
    },
    (application.hosting_name == "None" ? nil : {
      field: "Continuously deployed?",
      value: application.continuously_deployed? ? "Yes" : "No",
    }),
    (application.can_run_rake_tasks_in_jenkins? ? {
      field: "Rake tasks",
      value: RunRakeTask.terse_links(application).html_safe,
    } : nil),
    {
      field: "Links",
      value: partial("partials/application/links"),
    },
  ].reject(&:nil?),
).strip %>

<% if manual.pages_for_application(application.app_name).any? %>
## Relevant manual pages
<%= partial("partials/application/relevant_manual_pages") %>
<% end %>

<% 
  unless application.private_repo?
    imported_docs = GitHubRepoFetcher.instance.docs(application.github_repo_name)
    unless imported_docs.nil?
%>
## Imported documents
<%= partial(
  "partials/application/imported_docs",
  locals: {
    nested_docs: GitHubRepoFetcher.instance.nest_docs(imported_docs),
    uls_on_newlines: true,
  }).strip %>
<%
    end
  end
%>

<% if application.example_published_pages %>
## Example pages published by <%= application.app_name %>
<%= partial("partials/application/example_published_pages") %>
<% end %>

<% if application.example_rendered_pages %>
## Example pages rendered by <%= application.app_name %>
<%= partial("partials/application/example_rendered_pages") %>
<% end %>

## README

<%= partial("partials/application/readme") %>

<% end %>
