---
layout: document_type_layout
parent: /document-types.html
---

There are <strong><%= page.total_count %></strong> pages with document type
'<%= page.name %>' in the GOV.UK search index.

## Supertypes

| Type | Group |
| --- | --- |
<% Supertypes.all.each do |supertype| %>
| <%= link_to supertype.name, "/document-types.html" %> | <%= supertype.for_document_type(page.name) %> |
<% end %>

<% if page.examples.any? %>
## Example pages

<% page.examples.each do |example| %>
- <%= link_to example['title'], "https://www.gov.uk#{example['link']}" %></li>
<% end %>

<%= link_to 'Source query from Search API', page.search_url %>
<% end %>
