---
layout: repo_layout
parent: /apps.html
source_url: https://github.com/alphagov/govuk-developer-docs/blob/main/data/repos.yml
---

<% if repo.retired? %>
  This application is retired.

  <%= ExternalDoc.parse(repo.description) %>

  <a href="<%= repo.repo_url %>">GitHub repository</a>
<% else %>

<%= ExternalDoc.parse(repo.description) %>

<%= GovukPublishingComponents.render(
  "govuk_publishing_components/components/summary_list",
  items: [
    {
      field: "GitHub",
      value: sanitize("<a href='#{repo.repo_url}'>#{repo.repo_name}</a>"),
    },
    {
      field: "Ownership",
      value: sanitize(partial("partials/repo/ownership").strip),
    },
    {
      field: "Hosting",
      value: sanitize(partial("partials/repo/hosting").strip),
    },
    {
      field: "Category",
      value: repo.type,
    },
    ((links = partial("partials/repo/links")) && links.strip.present? ? {
      field: "Links",
      value: links,
    } : nil),
  ].reject(&:nil?),
).strip %>

<% if manual.pages_for_repo(repo.repo_name).any? %>
## Relevant manual pages
<%= partial("partials/repo/relevant_manual_pages") %>
<% end %>

<% if repo.example_published_pages %>
## Example pages published by <%= repo.repo_name %>
<%= partial("partials/repo/example_published_pages") %>
<% end %>

<% if repo.example_rendered_pages %>
## Example pages rendered by <%= repo.repo_name %>
<%= partial("partials/repo/example_rendered_pages") %>
<% end %>

## README

<%= partial("partials/repo/readme") %>

<% end %>
