<% content_for :title, create_page_title("#{attribute.name.capitalize} attribute data") %>

<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Attribute</span>
  <%= attribute.name %>
</h1>

<dl class="govuk-summary-list">
  <% %w[Name Description Value Example Required Type Redact].each do |name| %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= name %>
      </dt>
      <dd class="govuk-summary-list__value">
        <% if name == 'Redact' %>
          <%= link_to attribute.send(name.downcase), "pii.html", class: "govuk-link" %>
        <% else %>
          <%= attribute.send(name.downcase) %>
        <% end %>
      </dd>
    </div>
  <% end %>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Used by
    </dt>
    <dd class="govuk-summary-list__value">
      <% data.analytics.events.each do |event| %>
        <% event.events.each do |events| %>
          <% events.data.each do |events_attribute| %>
            <% if events_attribute.value.is_a?(Array) %>
              <% events_attribute.value.each do |sub_attribute| %>
                <% if sub_attribute.name == attribute.name %>
                  <%= link_to event.name, "event_#{urlize(event.name)}.html", class: "govuk-link" %> (<%= events.name %>)<br/>
                <% end %>
              <% end %>
            <% else %>
              <% if events_attribute.name == attribute.name %>
                <%= link_to event.name, "event_#{urlize(event.name)}.html", class: "govuk-link" %> (<%= events.name %>)<br/>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </dd>
  </div>
</dl>
