---
layout: false
title: Dictionary
source_url: https://github.com/alphagov/govuk-developer-docs/blob/master/data/dictionary.yml
edit_url: https://github.com/alphagov/govuk-developer-docs/edit/master/data/dictionary.yml
---

<% content_for :sidebar do %>
  <ul>
    <li>
      <%= link_to 'Dictionary', '/dictionary.html' %>
      <ul>
      <% data.dictionary.each do |entry| %>
        <li>
          <%= link_to entry.word, "##{entry.word.parameterize}-definition" %>
        </li>
      <% end %>
      </ul>
    </li>
  </ul>
<% end %>

<% wrap_layout :layout_with_sidebar do %>
  <%= partial 'partials/header' %>

  <% data.dictionary.each do |entry| %>
    <div>
      <h2 id=<%="#{entry.word.parameterize}"%>-definition>
        <%= entry.word %>
      </h2>
      <% if entry.synonyms.present? %>
        <small>Synonyms: <%= entry.synonyms %></small>
      <% end %>
      <p><%= entry.description %></p>
    </div>
  <% end %>

  <%= partial 'partials/source', locals: { page: current_page.data } %>
<% end %>
