---
layout: core
title: Dashboard
source_url: https://github.com/alphagov/govuk-developer-docs/blob/main/data/dashboard.yml
---

<% content_for :sidebar do %>
  <ul>
    <% dashboard.chapters.each do |chapter| %>
      <li>
        <a href='#<%= chapter.id %>'>
          <span><%= chapter.name %></span>
        </a>
        <ul>
          <% chapter.sections.each do |section| %>
            <li>
              <a href='#<%= section.id %>'>
                <span><%= section.name %></span>
              </a>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>

<h1 class="page-title">GOV.UK developer docs</h1>

<%= partial 'partials/intro' %>

<% dashboard.chapters.each do |chapter| %>
  <h2 id='<%= chapter.id %>'><%= chapter.name %></h2>

  <% chapter.sections.each do |section| %>
    <h3 id='<%= section.id %>'><%= section.name %></h3>

    <ul class='entry-list'>
      <% section.entries.each do |entry| %>
      <li class='entry-list__item'>
        <a class='entry-list__key' href='<%= entry.url %>'>
          <%= entry.name %>
        </a>
        <small class='entry-list__value' >
          <%= entry.description %>
        </small>
      </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
